<footer class="footer">

		  <p class="col-sm-4">copyright. olivia j. kim</p>
		  <p class="col-sm-4"></p>
		  <p class="col-sm-4">contact: &nbsp&nbsp<a href="mailto:hello@oliviajkim.com">email</a>&nbsp&nbsp<a href="https://github.com/oliviajkim">github</a></p>

</footer>