<footer class="footer">

		  <p class="col-sm-4">copyright. jeehye kim</p>
		  <p class="col-sm-4"></p>
		  <p class="col-sm-4">contact: &nbsp&nbsp<a href="mailto:iam@jeehyekim.com">email</a>&nbsp&nbsp<a href="https://github.com/jeehyekim">github</a></p>

</footer>