<div class="container">
  <div class="modal fade" tabindex="-1" id="signup-modal" role="dialog">
    <div class="modal-dialog" role='document'>
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Sign Up</h4>
        </div>
        <div class="modal-body">
          <form class="form-group">
            <div class="form-group" id="signup-form">
              <input type="text" class="form-control list-group-item" id="fullname" placeholder="Full Name">
              <input type="text" class="form-control" id="username" placeholder="Username">
              <input type="email" class="form-control" id="email" placeholder="Email">
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary pull-right">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


     