<!DOCTYPE html>
<html>
 
 <% include _head.ejs %> 

  <body>
    <nav class="navbar">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <a class="navbar-brand navbar-left" href="/home">
          <img alt="brand" src="/images/JK_Logo.png">
        </a>

        <button id="popover" name="title" class="btn btn-default navbar-btn navbar-right" rel="popover" data-placement="bottom" data-content="<form class='form-group' id='new-plan'><input type='text' class='form-control list-group-item' name='title' placeholder='Title'></form>">+</button>

        <button type="button" class="btn btn-default navbar-btn navbar-right" id="logout-button" data-toggle='modal' data-target='#login-modal'>Log out</button>
      </div>
    </nav>

    <div class="container" id="currentdate">
      <h2>Friday, October 23, 2015</h2>

      <div class="container" id="user-plans">
      
        <% for(var i = 0; i<plans.length; i++) { %>
  
          <div class="panel" id="<%= plans._id %>">
            <div class="panel-heading">
              <h3><%= plans[i].title %></h3>
            </div>
            
          </div>

        <% } %>

      </div>

    </div>

  </body>

</html>