<!DOCTYPE html>
<html>
 
 <% include _head.ejs %> 

  <body>
  <div>
    <nav class="navbar">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <a class="navbar-brand navbar-left" href="/home">
          <img alt="brand" src="/images/JK_Logo.png">
        </a>

        <button id="popover" name="title" class="btn btn-default navbar-btn navbar-right" rel="popover" data-placement="bottom" data-content="<form id='new-plan'><h5>Create New Plan</h5><br/><input type='text' class='form-group form-control list-group-item' name='title' placeholder='Title'></form>">+</button>

        <button type="button" class="btn btn-default navbar-btn navbar-right" id="logout-button" data-toggle='modal' data-target='#login-modal'>Log out</button>
      </div>
    </nav>

    <div class="container" id="currentdate">
      <h5>Hello.</h5>
      <h2>Friday, October 30, 2015</h2>
    </div>


    <div class="container" id="new-weekly" >
      <% for(var i = 0; i<plans.length; i++) { %>
        <div class="panels row">
          <div id="<%= plans[i]._id %>" styles="width:1400px;">
            <h3 class="plan-name"> <%= plans[i].title %> </h3>
            <% for(var j = 0; j< plans[i].days.length; j++) { %>
            <% var days = plans[i].days; %>
              <div class="col-xs-1" >
                <div class="panel-heading" >
                  <h4 class="panel-title"> <%= days[j].name %> </h4>
                </div>
                  <!-- <div class="panel-body"> -->
                  <% for(var k = 0; k < days[j].todos.length; k++) { %>
                      <li class="list-group-item panel-body"> <%= days[j].todos[k] ? days[j].todos[k].body : '' %></li>
                  <% } %>
                  <!-- </div> -->
              </div>
            <% } %>
          </div>
        </div>
      <% } %>
    </div>
  <div class="space"></div>
  <% include _footer.ejs %>
  </div>
  </body>

</html>