<!DOCTYPE html>
<html>
  <head>
    <title>Express - Heroku Starter Project</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
    <!-- validation -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/app.js"></script>
  </head>

  <body>
    <div class="container" id="currentdate">
     <h2>Friday, October 23, 2015</h2>
    </div>
    <div class="container">
      <!-- <div class="col-sm-2 col-sm-offset-1">
        
      </div> -->
      <div class="col-sm-6 col-sm-offset-3">
        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">List Title 1</h4>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">item1</li>
              <li class="list-group-item">item2</li>
              <li class="list-group-item">item3</li>
            </ul>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">List Title 2</h4>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">item1</li>
              <li class="list-group-item">item2</li>
              <li class="list-group-item">item3</li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>

  </body>

</html>