<!DOCTYPE html>
<html>
 
 <% include _head.ejs %> 

  <body>
    <nav class="navbar">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <a class="navbar-brand navbar-left" href="/home">
          <img alt="brand" src="./images/JK_Logo.png">
        </a>

        <button id="popover" name="title" class="btn btn-default navbar-btn navbar-right" rel="popover" data-placement="bottom" data-content="<form class='form-group' id='new-plan'><input type='text' class='form-control list-group-item' name='title' placeholder='Title'></form>">+</button>

        <button type="button" class="btn btn-default navbar-btn navbar-right" id="logout-button" data-toggle='modal' data-target='#login-modal'>Log out</button>
      </div>
    </nav>

    <div class="container" id="currentdate">
     <h2>Friday, October 23, 2015</h2>
    </div>
    <div class="container">
     
      
      <!-- to be populated with lists created + stored in db -->
      <div class="col-sm-6 col-sm-offset-3">
        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">List Title 1</h4>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">item1</li>
              <li class="list-group-item">item2</li>
              <li class="list-group-item">item3</li>
            </ul>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">List Title 2</h4>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">item1</li>
              <li class="list-group-item">item2</li>
              <li class="list-group-item">item3</li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>

  </body>

</html>