<!DOCTYPE html>
<html>
 
 <% include _head.ejs %> 

<body>

  <nav class="navbar">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <a class="navbar-brand navbar-left" href="home.ejs">
        <img alt="brand" src="/images/JK_Logo.png">
      </a>

      <button type="button" class="btn btn-default navbar-btn navbar-right" id="login-button" data-toggle='modal' data-target='#login-modal'>Log in</button>
      <button class="btn btn-default navbar-btn navbar-right" type="button" id="signup-button" data-toggle='modal' data-target='#signup-modal'>Sign Up</button>
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container">
      <header class="page-header">
        <h1>Project Title</h1>
        <p>project information.. blah blah..</p>
        <button class="btn btn-default navbar-btn" type="button" id="signup-button" data-toggle='modal' data-target='#signup-modal'>Sign Up</button>
      </header>
    </div>
  </div>

    <!-- about content -->
  <div class="container">

  </div>

    <!-- contact info -->
  <div class="container">

  </div>

  <!-- signup modal -->
    <% include _signup.ejs %>

    <!-- login modal -->
    <div class="modal fade" tabindex="-1" id="login-modal" role="dialog">
      <div class="modal-dialog" role='document'>
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Log in</h4>
          </div>
          <div class="modal-body">
            <form class="form-group">
              <div class="form-group" id="login-form">
                <input type="text" class="form-control list-group-item" id="fullname" placeholder="Full Name">
                <input type="text" class="form-control" id="username" placeholder="Username">
                <input type="email" class="form-control" id="email" placeholder="Email">
                <input type="password" class="form-control" id="password" placeholder="Password">
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary pull-right">Log in</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>


