<!DOCTYPE html>
<html>
  
  <% include _head.ejs %> 
  
  <body>
    <nav class="navbar">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <a class="navbar-brand navbar-left" href="#">
          <img alt="brand" src="./images/JK_Logo.png">
        </a>

        <button id="popover" name="title" class="btn btn-default navbar-btn navbar-right" rel="popover" data-placement="bottom" data-content="<form class='form-group'><input type='text' class='form-control list-group-item' id='new-list-title' placeholder='Title'></form>">+</button>
        
        <button type="button" class="btn btn-default navbar-btn navbar-right" id="logout-button" data-toggle='modal' data-target='#login-modal'>Log out</button>


      </div>
    </nav>

    <%= plan.title %>

    <div class="container" id="currentdate">
     <h2>Friday, October 23, 2015</h2>
    </div>

    <div class="container">
    <!-- full week panel -->
      <div class="panel" id="new-plan" >
      <!-- daily panels -->

       <% for(var i in plan.days) { %>

        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title"> <%= plan.days[i] %> </h4>
          </div>
          <div class="panel-body">
            <div class="form-group" >
              <input type="text" class="form-control list-group-item" placeholder="new task">
              <input type="text" class="form-control list-group-item" placeholder="new task">
              <input type="text" class="form-control list-group-item" placeholder="new task">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary pull-right" id="daily-save">Save</button>
            </div>
          </div>
        </div>
        <% } %>

      </div>
    </div>

  </body>
</html>