<!DOCTYPE html>
<html>
  
  <% include _head.ejs %> 
  
  <body>
    <nav class="navbar">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <a class="navbar-brand navbar-left" href="/home">
          <img alt="brand" src="/images/JK_Logo.png">
        </a>

        <button id="popover" name="title" class="btn btn-default navbar-btn navbar-right" rel="popover" data-placement="bottom" data-content="<form class='form-group'><input type='text' class='form-control list-group-item' id='new-list-title' placeholder='New Plan Title'></form>">+</button>
        
        <button type="button" class="btn btn-default navbar-btn navbar-right" id="logout-button" data-toggle='modal' data-target='#login-modal'>Log out</button>


      </div>
    </nav>


    <div class="container" id="currentdate">
     <h2>Friday, October 23, 2015</h2>

    <h3> <%= plan.title %> </h3>
    </div>

    

    <div class="container" id="new-weekly">
    <!-- full week panel -->
      <div class="panels row" id="plan-days" >
        <!-- daily panels -->
        <% for(var i=0; i<plan.days.length; i++) { %>
        <div class="panel col-xs-1" id="<%= plan.days[i]._id %>">
            <div class="panel-heading">
              <h3 class="panel-title"> <%= plan.days[i].name %> </h3>
            </div>
            <div class="panel-body">
              <input type="text" class="form-control list-group-item new-todo" data-id="<%= plan.days[i]._id %>" placeholder="add new task">

              
            </div>
          </div>
        <% }; %>
      </div>
    </div>

  </body>
</html>