/*#page-wrapper {
	background-color: lightblue;
}
*/

input {
	margin: 10px;
}

h2 {
	text-align: center;
	margin: 40px 0;
}

h3 {
	text-align: center;

}

.navbar-brand {
	padding-bottom: 30px;
}

.navbar-right {
	margin-right: 20px;
}

.navbar #signup-button {
	margin-right: 20px;
}

.navbar #logout-button {
	margin-right: 20px;
}

.navbar button {
	margin-top: 30px;
}

#popover {
	font-size: 24px;
}

#new-list-title {
	width: 200px;
}

#plan-days {
	/*width: 300px;*/
	/*float:left;*/
	display: inline-block;
	margin:0;
}

div.panel-body {
	margin: 0;
	padding: 0;
}

#new-weekly {
	width: auto;
	overflow:auto;
	/*overflow-x: scroll;*/
	/*overflow-y: hidden;*/
	white-space: nowrap;
	float: clear both;
}