/*#page-wrapper {
	background-color: lightblue;
}
*/

input {
	margin: 10px;
}

h2 {
	text-align: center;
	margin: 40px 0;
}

.navbar-brand {
	padding-bottom: 30px;
}

.navbar-right {
	margin-right: 20px;
}

.navbar #signup-button {
	margin-right: 20px;
}

.navbar button {
	margin-top: 30px;
}

#popover {
	font-size: 24px;
}

#new-list-title {
	width: 200px;
}

#sunday, #monday, #tuesday, #wednesday, #thursday, #friday, #saturday {
	width: 300px;
	display: inline-block;
}

#new-weekly {
	width: 2500px;
	overflow:auto;
/*	overflow-x: scroll;
	overflow-y: hidden;*/
	white-space: nowrap;
	float: clear both;
}