/*#page-wrapper {
	background-color: lightblue;
}
*/



h2 {
	text-align: center;
	margin: 40px 0;
}

h3 {
	text-align: center;
	margin: 0;
}

.navbar-brand {
	padding-bottom: 30px;
}

.navbar-right {
	margin-right: 20px;
}

.navbar #signup-button {
	margin-right: 20px;
}

.navbar #logout-button {
	margin-right: 20px;
}

.navbar button {
	margin-top: 30px;
}

.new-todo {
	border: none;
}

.col-xs-1 {
	width: 200px;
}

.panels {


}

#popover {
	font-size: 24px;
}

#new-list-title {
	width: auto;
}

#plan-days {
	display: inline-block;
	margin-top: 40px;
	padding: 0;
}


#new-weekly {
	margin:auto;
	padding:0;
	width: 1400px;
}