 <div class="form-group col-sm-6 col-sm-offset-3" id="login-form">
        <input type="email" class="form-control" id="email" placeholder="Email">
        <input type="password" class="form-control" id="password" placeholder="Password">
        <button type="submit" class="btn btn-primary pull-right">Log In</button>
      </div>


      <% include ../models/_login.ejs %>