
<div class="form-group col-sm-6 col-sm-offset-3" id="signup-form">
        <input type="text" class="form-control" id="fullname" placeholder="Full Name">
        <input type="text" class="form-control" id="username" placeholder="Username">
        <input type="email" class="form-control" id="email" placeholder="Email">
        <input type="password" class="form-control" id="password" placeholder="Password">
        <button type="submit" class="btn btn-primary pull-right">Sign Up</button>
      </div>



      <% include ../models/_signup.ejs %>